* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: system-ui, Helvetica, Arial, sans-serif;
}

label {
	margin: 1rem;
}

#search-input {
	padding: 0.5rem 1rem;
	margin-top: 1rem;
	border: 2px dashed blue;
	border-radius: 20px;
}

#genre-selector {
	padding: 0.5rem 1rem;
	margin-top: 1rem;
	border: 2px dashed blue;
	border-radius: 20px;
}

.movie-list {
	list-style: none;
	padding: 2rem 3rem;
	li::marker {
		content: "👁️ ";
	}
}
