* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: system-ui, Helvetica, Arial, sans-serif;
}

label {
	margin-inline-start: 2rem;
}

#genre-selector {
	margin: 0.2rem 1.2rem;
	padding: 0.5rem 1rem;

	border: 1px dashed blue;
	border-radius: 20px;
}

.movie-list {
	list-style: none;
	padding: 2rem 3rem;
	li::marker {
		content: "👁️ ";
	}
}
