* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: system-ui, Helvetica, Arial, sans-serif;
}

h1 {
	padding: 1rem;
}

label {
	margin: 1rem;
}

#search-input {
	padding: 0.5rem 1rem;
	margin-top: 1rem;
	border: 2px dashed blue;
	border-radius: 20px;
}

#genre-selector {
	padding: 0.5rem 1rem;
	margin-top: 1rem;
	border: 2px dashed blue;
	border-radius: 20px;
}

.new-movie-form * {
	margin-inline: 1rem;
}

.new-movie-form button {
	padding: 0.5rem 1rem;
	border: 2px dashed blue;
	border-radius: 20px;
	background-color: white;

	&:hover {
		background-color: blue;
		color: white;
		cursor: pointer;
	}
}

#new-movie-input {
	padding: 0.5rem 1rem;
	margin-top: 1rem;
	border: 2px dashed blue;
	border-radius: 20px;
}

.movie-list {
	list-style: none;
	padding: 2rem 3rem;
	.movie-title {
		font-size: 1.1rem;
		font-weight: 500;
		&:hover {
			text-decoration-line: underline;
			cursor: pointer;
		}
	}
	.movie-genre {
		font-weight: 300;
	}

	li::marker {
		content: "👁️  ";
	}
}
